# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: can be integers or floats, negative or positive, floats include e, calculations function as expected

Strings: immutable,text contained between single or double quotes but stored by python as a sequene of individual characters

Lists: mutable, stored within square brackets, sequence of objects which can differ in type (float, string, nested list, etc.)

Tuples: immutable, stored within parentheses and separated by commas, sequential, can contain various object types

Dictionaries: collection of key,value pairs, not sequential, searched by key, mutable, can contain various object types

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
.5**2+11*9-1/-1

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [3]:
2/3
# given this is python3, will generate .66 repeating but given the repeating value is limited by the number of bytes,
# it technically will return an approximation
# if in python2, it would return a 0

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [4]:
a = 4*(6+5)  # 44
b = 4*6+5    # 29
c = 4+6*5    # 34
print(a,b,c)

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?
Answer: float

What would you use to find a numberâ€™s square root, as well as its square?

In [10]:
a =25
a2 = 25**2
aroot = int(25**.5)
print(a2,',', aroot)

625 , 5

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [11]:
s = 'hello'
# Print out 'e' using indexing

# Code here
print(s[1])

e

Reverse the string 'hello' using indexing:

In [12]:
s ='hello'

# Reverse the string using indexing

# Code here
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [14]:
s ='hello'

# Print out the

# Code here
print(s[-1])
print(s[len(s)-1])

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [20]:
x = [0]*3
print(x)
t = []
for n in range(3): t.append(0)
print(t)

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [21]:
l = [1,2,[3,4,'hello']]
l[2][2]='goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [53]:
l = [5,3,4,6,1]
l.sort()
sorted(l)
l

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [25]:
d = {'simple_key':'hello'}
# Grab 'hello'
x = d['simple_key']
print(x)

hello

In [26]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
x = d['k1']['k2']
print(x)

hello

In [29]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
x = d['k1'][0]['nest_key'][1][0]
print(x)

hello

In [32]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
x = d['k1'][2]['k2'][1]['tough'][2][0]
print(x)

hello

Can you sort a dictionary? Why or why not?

Answer: You are not able to sort a dictionary because it is not sequential but instead is based on mapping. Therefore, 
the sequence of the dictionary is not sortable and is subject to change.

## Tuples

What is the major difference between tuples and lists?

Answer: Tuples are immutable while lists can be changed.

How do you create a tuple?

Answer: You can create it via the tuple() function or pass a series of values into a set of parentheses. If there is only one value passed, you must add a comma at then end for it qualify as a tuple

## Sets

What is unique about a set?

Answer: A set is a series of unique values that prohibits duplicate values.

Use a set to find the unique values of the list below:

In [46]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [47]:
# Answer before running cell
# False
2 > 3

False

In [48]:
# Answer before running cell
# False
3 <= 2

False

In [49]:
# Answer before running cell
# False
3 == 2.0

False

In [50]:
# Answer before running cell
# True
3.0 == 3

True

In [51]:
# Answer before running cell
# False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [52]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False? 
# 3 >= 4 ---> False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!